
.game-container {
    display: flex;
    justify-content: center;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cardword {
    width: 100px;
    height: 150px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .words-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    color:white;
  }
  
  .words-container p {
    margin: 5px;
  }
  .wordword button{
    color:white;
  }
  .cardword{
    border:none;
  }