.slide {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.carousel {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.slide {
    display: flex;
    justify-content: space-between;
    color:white;
}

.slideshow-container {
  position: relative;
  max-width: 600px; 
  margin: 0 auto; 
  overflow: hidden;
}

.slide {
  display: none; 
}

.slide img {
  width: 100%;
  height: auto;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
  color: white;
}

.next-button {
  right: 10px;
  color:white;
}


.card {
  width: 100px;
  margin: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card p {
  margin-top: 10px;
}
